@import 'variables';

#contact-container {
    position: relative;
    width: 100%;
    padding: 60px 5% 40px;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);

    #ball13 {
        top: 4vh;
        right: 15%;
        height: 10vw;
        max-height: 100px;
    }

    #ball11 {
        bottom: 5vh;
        left: 15%;
        height: 20vw;
        max-height: 200px;
    }

    #ball14 {
        bottom: 3vh;
        right: 4%;
        height: 8vw;
        max-height: 60px;
    }

    #heading-container {
        width: 45%;
    }

    #text-form-container {
        position: relative;
        z-index: 9;

        #text-container {
            width: 45%;

            span {
                font-family: $textfont;
                font-size: 0.9rem;
            }

            span:first-of-type {
                color: $black;
            }

            span:last-of-type {
                color: $blue;
            }
        }
    }

    #form-container {
        align-items: flex-start;
        width: 55%;
        max-width: 700px;
    }
}


form {
    align-items: center;
    width: 90%;

    input, 
    textarea {
        outline: none;
        width: 100%;
        font-size: 1.3rem;
        font-family: $textfont;
        color: $black;
        border: 1px solid $blue;
        border-radius: 10px;
        padding: 9px 18px;
        background-color: $white;
    }

    #message {
        height: 200px;
        padding: 12px 18px;
        overflow: auto;
        resize: none;
    }

    #button {
        width: fit-content;
        color: $gray;
        border: 2px solid $gray;
        background-color: transparent;
    }

    .valid-button {
        border-color: $blue !important;
        color: $blue !important;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            color: $white !important;
            background-color: $blue !important;
            transition: all 125ms ease-in-out;
        }
    }
    
    .invalid-button {
        border-color: #bbbbbb;
        color: #bbbbbb;
        cursor: not-allowed;
    }
  
    span {
        color: red;
        font-family: $textfont;
        font-size: 0.9rem;
        margin-top: -20px;
    }

    .privacy-agreement-container {
        width: 100%;
        align-items: center;
    
        input {
            width: 20px;
            height: 20px;
    
            &:hover {
                cursor: pointer;
            }
        }
    
        span {
            color: $black;
            font-size: 0.8rem;
            margin: unset;
        }
    
        a {
            color: $blue;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    // prevents background change when using autofill
    input:-webkit-autofill {
        background-color: white !important;
        color: inherit !important;
        box-shadow: 0 0 0px 1000px white inset !important;
        -webkit-text-fill-color: inherit !important;
        transition: background-color 5000s ease-in-out 0s;
    } 
}

#popup-container {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
  
#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid $blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    z-index: 1000;
  
    span {
        font-size: 1.2rem;
        font-weight: 500;
        color: $blue;
        font-family: $textfont;
        line-height: 2rem;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  
.fade-out {
    animation: fadeOut 2s forwards;
}

#scroll-up {
    bottom: 4%;
    left: 5%;
    max-height: 45px;
    height: 14vw;
    aspect-ratio: 1;
    cursor: pointer;
    z-index: 99;
    background-image: url('/assets/img/ball14.svg');
    background-size: contain;
    background-repeat: no-repeat;

    &:active {
        filter: brightness(0.9);
    }
    
    #scroll-arrow {
        rotate: 180deg;
        fill: $white;
    }
}
  

@media(max-width: 800px) {
    #ball11 {
        bottom: 25vh !important;
        left: 1% !important;
    }

    #text-form-container {
        flex-direction: column;
        align-items: center;
        gap: 5vh;

        #text-container {
            width: 100% !important;
            justify-content: flex-start;
        }

        #form-container {
            width: 100%;
            justify-content: center;
        }
    }
}

@media(max-width: 800px) {
    #ball13 {
        right: 10% !important;
        top: 6vh !important;
    }
}

@media(max-width: 600px) {
    form {
        input, 
        textarea {
            font-size: 1rem;
        }
    }

    #popup {
        height: 50vh;
        width: 90%;
    }
}