<div id="contact-container" class="column gap-30">
    <img id="ball13" class="absolute" src="./assets/img/ball13.svg">
    <img id="ball11" class="absolute" src="./assets/img/ball11.svg">
    <img id="ball14" class="absolute" src="./assets/img/ball14.svg">

    <div id="heading-container">
        <h2>Contact</h2>
    </div>

    <div id="text-form-container" class="row between">
        <div id="text-container" class="column gap-25">
            <h4>Got a problem to solve?</h4>
            <div class="column gap-15">
                <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
                <span>Need a Frontend developer? <b>Contact me!</b></span>
            </div>
        </div>

        <div id="form-container" class="right">
            <form (ngSubmit)="onSubmit(contactForm)" class="column gap-30" #contactForm="ngForm">
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required>
                <span *ngIf="!name.valid && name.touched">Please enter your name!</span>
              
                <input #email="ngModel" [(ngModel)]="contactData.email" type="text" id="mail" name="mail" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <span *ngIf="!email.valid && email.touched">Please enter a valid email address!</span>
              
                <textarea #message="ngModel" [(ngModel)]="contactData.message" type="text" id="message" name="message" placeholder="Your message" required></textarea>
                <span *ngIf="!message.valid && message.touched">Please enter a message!</span>
                <span *ngIf="message.valid && message.value?.length < 8">Message too short!</span>
              
                <div class="row gap-10 privacy-agreement-container left">
                  <input type="checkbox" id="termsCheckbox" name="terms" [(ngModel)]="termsAccepted" required>
                  <span>I've read the <a (click)="openPrivacy()">privacy policy</a> and agree to the processing of my data as outlined.</span>
                </div>
              
                <input type="submit" id="button" value="Say hello" 
                    [disabled]="!contactForm.form.valid || !termsAccepted || message.value?.length < 8" 
                    [ngStyle]="{
                        'border-color': contactForm.form.valid && termsAccepted && message.value?.length >= 8 ? '#5988ff' : '#bbbbbb',
                        'color': contactForm.form.valid && termsAccepted && message.value?.length >= 8 ? '#5988ff' : '#bbbbbb',
                        'cursor': contactForm.form.valid && termsAccepted && message.value?.length >= 8 ? 'pointer' : 'not-allowed'
                    }">
            </form>                           
        </div>
    </div>

    <div id="popup-container" *ngIf="showPopup">
        <div id="popup" class="absolute center gap-15">
            <span>Your message has been successfully sent! <br> Thank you for reaching out. <br> :)</span>
        </div>
    </div>

    <div id="scroll-up" class="center absolute" (click)="scrollService.scrollToSection('header')">
        <img id="scroll-arrow" src="./assets/img/arrow_white.svg">
    </div>
</div>