<div id="contact-container" class="column gap-30" [ngClass]="{'dark-mode': checkDarkMode()}">
    <img id="ball13" class="absolute" src="./assets/img/ball13.svg">
    <img id="ball11" class="absolute" src="./assets/img/ball11.svg">
    <img id="ball14" class="absolute" src="./assets/img/ball14.svg">

    <div id="heading-container">
        <h2 appScrollAnimation animationClass="fade-in-bottom">{{ getTranslation('CONTACT_HEADING') }}</h2>
    </div>

    <div id="text-form-container" class="row between">
        <div id="text-container" class="column gap-25" appScrollAnimation animationClass="fade-in-bottom">
            <h4>{{ getTranslation('CONTACT_SUBHEADING') }}</h4>
            <div class="column gap-15">
                <span [ngClass]="{'dark-mode-text': checkDarkMode()}">{{ getTranslation('CONTACT_TEXT') }}</span>
                <span [innerHTML]="getTranslation('CONTACT_ME')"></span>
            </div>
        </div>

        <div id="form-container" class="right" appScrollAnimation animationClass="fade-in-bottom">
            <form (ngSubmit)="onSubmit(contactForm)" class="column gap-15" #contactForm="ngForm">
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" [placeholder]="getTranslation('CONTACT_NAME_PLACEHOLDER')" required>
                <span class="error-message" [class.hidden]="name.valid || !name.touched">
                  {{ getTranslation('CONTACT_ERROR_NAME') }}
                </span>
              
                <input #email="ngModel" [(ngModel)]="contactData.email" type="text" id="mail" name="mail" placeholder="Your email" [placeholder]="getTranslation('CONTACT_MAIL_PLACEHOLDER')" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <span class="error-message" [class.hidden]="email.valid || !email.touched">
                  {{ getTranslation('CONTACT_ERROR_MAIL') }}
                </span>
              
                <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" [placeholder]="getTranslation('CONTACT_MESSAGE_PLACEHOLDER')" required></textarea>

                <span class="error-message" [class.hidden]="!message.touched || (message.value?.length >= 8)">
                  <ng-container *ngIf="message.value?.length === 0">
                    {{ getTranslation('CONTACT_ERROR_MESSAGE') }}
                  </ng-container>
                  <ng-container *ngIf="message.value?.length > 0 && message.value?.length < 8">
                    {{ getTranslation('CONTACT_ERROR_MESSAGE_SHORT') }}
                  </ng-container>
                </span>
              
                <div class="row gap-10 privacy-agreement-container left">
                  <input type="checkbox" id="termsCheckbox" name="terms" [(ngModel)]="termsAccepted" required>
                  <span [ngClass]="{'dark-mode-text': checkDarkMode()}">
                    {{ getTranslation('CONATCT_CONFIRMATION_CHECK_1') }}
                    <a (click)="openPrivacy()">{{ getTranslation('CONATCT_CONFIRMATION_CHECK_PRIVACY') }}</a>
                    {{ getTranslation('CONATCT_CONFIRMATION_CHECK_2') }}
                  </span>
                </div>
              
                <input type="submit" id="button" value="Say hello" [value]="getTranslation('CONTACT_BUTTON')"
                    [disabled]="!contactForm.form.valid || !termsAccepted || message.value?.length < 8" 
                    [ngClass]="{
                      'valid-button': contactForm.form.valid && termsAccepted && message.value?.length >= 8,
                      'invalid-button': !contactForm.form.valid || !termsAccepted || message.value?.length < 8
                    }">
              </form>                                        
        </div>
    </div>

    <div id="popup-container" *ngIf="showPopup">
        <div id="popup" class="absolute center gap-15" [ngClass]="{'dark-mode': checkDarkMode()}">
            <span [innerHTML]="getTranslation('CONATCT_CONFIRMATION_TEXT')" [ngClass]="{'dark-mode-text': checkDarkMode()}"></span>
        </div>
    </div>

    <div id="scroll-up" class="center absolute" (click)="scrollService.scrollToSection('header')">
        <img id="scroll-arrow" src="./assets/img/arrow_white.svg">
    </div>
</div>