<header class="column">
    <img id="ball3" class="absolute" src="./assets/img/ball3.png">
    <img (click)="openMenu()" id="menu" class="absolute" src="./assets/img/menu.png">

    <app-navbar></app-navbar>

    <div id="header-container" class="row">
        <div id="me" class="center">
            <img src="./assets/img/character.png">
        </div>

        <div id="heading-container" class="column between">
            <div class="column gap-15">
                <span>Hello! I am Lukas</span>
                <h1>FRONTEND <br>DEVELOPER</h1>
            </div>

            <div id="scroll-icon-container" class="row around">
                <div id="scroll-container" class="column center">
                    <a href="#description-container">SCROLL</a>
                    <div></div>
                </div>

                <div id="icon-container" class="column center gap-25">
                    <a href="https://github.com/lukasbuschdev" target="_blank"><img src="./assets/img/github.png"></a>
                    <a href="#contact-container"><img src="./assets/img/contact.png"></a>
                    <a href="https://mx.linkedin.com/in/lukas-busch-4192001b5?trk=people-guest_people_search-card" target="_blank"><img src="./assets/img/linkedin.png"></a>
                </div>
            </div>
        </div>
    </div>
</header>