<header id="header" class="column" [ngClass]="{'dark-mode': checkDarkMode()}">
    <img id="ball3" class="absolute" src="./assets/img/ball3.svg">

    <app-navbar></app-navbar>

    <div id="header-container" class="row">
        <div id="me" class="center">
            <img src="./assets/img/character.png">
        </div>

        <div id="heading-container" class="column between">
            <div class="column gap-15">
                <span>{{ getTranslation('HELLO')}}</span>
                <h1>FRONTEND <br>DEVELOPER</h1>
            </div>

            <div id="scroll-icon-container" class="row around">
                <div id="scroll-container" class="column center">
                    <a (click)="scrollService.scrollToSection('description-container')">{{ getTranslation('SCROLL_CAPITAL') }}</a>
                    <div></div>
                </div>

                <div id="icon-container" class="column center gap-25">
                    <a href="https://github.com/lukasbuschdev" target="_blank"><img src="./assets/img/github.svg"></a>
                    <a (click)="scrollService.scrollToSection('contact-container')"><img src="./assets/img/contact.svg"></a>
                    <a href="https://mx.linkedin.com/in/lukas-busch-4192001b5?trk=people-guest_people_search-card" target="_blank"><img src="./assets/img/linkedin.svg"></a>
                </div>
            </div>
        </div>
    </div>

    <div (click)="scrollService.scrollToSection('description-container')" id="scroll-down-mobile" class="row center gap-15 absolute">
        <span>{{ getTranslation('SCROLL') }}</span>
        <img src="./assets/img/arrow.svg">
    </div>
</header>