@import 'variables';

header {
    height: calc(100vh - 15vh);
    width: 100%;
    margin-top: 15vh;
    position: relative;
    background-color: $white;
    background-image: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    z-index: 9;
    transition: background-color 200ms ease-in-out;
    align-items: center;

    #limiter {
        height: 100%;
        width: 100%;
        max-width: 1440px;
    }

    #ball3 {
        top: 0;
        left: 0;
        width: 39%;
        max-width: 550px;
    }

    #header-container {
        height: 100%;
        width: 100%;
        z-index: 9;
    }

    #me {
        width: 55%;
        height: 100%;
        position: relative;

        img {
            width: 100%;
            max-width: 550px;
            aspect-ratio: 1;
            position: absolute;
            bottom: 0;
            object-fit: contain;
        }
    }

    #heading-container {
        width: 45%;
        height: 100%;
        color: $blue;
        padding: 30px 10px 0 10px;

        span {
            color: $blue;
            font-family: $textfont;
            font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
        }
    }

    #scroll-icon-container {
        height: 50%;
        width: 100%;

        #scroll-container {
            a {
                color: $blue;
                font-size: 1rem;
                font-family: $textfont;

                &:hover {
                    cursor: pointer;
                    filter: brightness(0.9);
                }
            }

            div {
                width: 1px;
                height: 100%;
                background-color: $blue;
            }
        }

        #icon-container {
            img {
                height: 25px;
                width: 25px;

                &:hover {
                    cursor: pointer;
                    filter: brightness(0.8);
                }
            }
        }
    }

    #scroll-down-mobile {
        display: none;
        cursor: pointer;
        z-index: 9;
        rotate: 90deg;
        bottom: 15vh;
        right: 0;

        span {
            font-size: 1rem;
            color: $blue;
            font-family: $textfont;
        }

        img {
            height: 20px;
            width: 20px;
            rotate: -90deg;
        }

        &:active {
            filter: brightness(1.5);
        }
    }
}

@media(max-width: 800px) {
    header {
        height: calc(100vh - 12vh) !important;
        margin-top: 12vh;

        #ball3 {
            width: 90%;
            max-width: 500px;
        }
    }

    #header-container {
        flex-direction: column-reverse;
        align-items: center;

        #me {
            width: 100%;

            img {
                height: 55vh;
            }
        }

        #heading-container {
            width: 100%;
            height: fit-content;
            text-align: left;
            padding: 5vh 2%;
            z-index: 99;

            span, h1 {
                color: $white;
            }

            h1 {
                font-size: clamp(4rem, 5vw + 1rem, 6rem);
            }
        }

        #scroll-icon-container {
            display: none;
        }
    }

    #scroll-down-mobile {
        display: flex !important;
    }
}

@media(max-width: 550px) {
    #heading-container {
        h1 {
            font-size: min(14vmin, 4rem) !important;
        }
    }

    #scroll-down-mobile {
        right: -20px !important;
    }
}

@media(max-width: 400px) {
    #heading-container {
        padding: 8vh 2% !important;
    }
}