<footer class="row between center">
    <div class="center">
        <img src="./assets/img/logo.svg">
    </div>

    <div id="name-legal-notice" class="column gap-20">
        <span>© Lukas Busch 2024</span>
        <a (click)="openLegalNotice()">{{ getTranslation('FOOTER_LEGAL_NOTICE') }}</a>
    </div>

    <div id="icon-container" class="row center gap-20">
        <a href="https://github.com/lukasbuschdev" target="_blank"><img src="./assets/img/github_white.svg"></a>
        <a (click)="scrollService.scrollToSection('contact-container')"><img src="./assets/img/contact_white.svg"></a>
        <a href="https://mx.linkedin.com/in/lukas-busch-4192001b5?trk=people-guest_people_search-card" target="_blank"><img src="./assets/img/linkedin_white.svg"></a>
    </div>
</footer>