<footer class="row between center">
    <div class="footer-container row center between">
        <div class="center">
            <img id="logo" src="./assets/img/logo.png">
        </div>
    
        <div id="name-legal-notice" class="column gap-20">
            <span>© Lukas Busch 2025</span>
            <a (click)="openLegalNotice()">{{ getTranslation('FOOTER_LEGAL_NOTICE') }}</a>
        </div>
    
        <div id="icon-container" class="row center gap-20">
            <a href="https://github.com/lukasbuschdev" target="_blank"><img src="./assets/img/github_white.svg"></a>
            <a (click)="gotToContact('contact-container', 'name')"><img src="./assets/img/contact_white.svg"></a>
            <a href="https://mx.linkedin.com/in/lukas-busch-4192001b5?trk=people-guest_people_search-card" target="_blank"><img src="./assets/img/linkedin_white.svg"></a>
        </div>
    </div>
</footer>