<div class="page" [ngClass]="{'dark-mode-privacy-legal': checkDarkMode()}">
    <div class="translations-content-container">
    <div class="container">
    <div class="tab-content translations-content-item de visible" id="de">
    <h1>Datenschutzerklärung</h1>
    <p>Letzte Aktualisierung: 20. Oktober 2024</p>
    <p>Diese Datenschutzerklärung beschreibt unsere Richtlinien und Verfahren zur Erhebung, Verwendung und Offenlegung Ihrer Informationen, wenn Sie den Service nutzen, und informiert Sie über Ihre Datenschutzrechte und darüber, wie das Gesetz Sie schützt.</p>
    <p>Wir verwenden Ihre personenbezogenen Daten, um den Service bereitzustellen und zu verbessern. Durch die Nutzung des Service stimmen Sie der Erhebung und Verwendung von Informationen gemäß dieser Datenschutzerklärung zu. Diese Datenschutzerklärung wurde mit Hilfe des <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Datenschutzerklärungsgenerators</a> erstellt.</p>
    <h2>Auslegung und Definitionen</h2>
    <h3>Auslegung</h3>
    <p>Die Wörter, deren Anfangsbuchstabe großgeschrieben ist, haben die in den folgenden Bedingungen definierten Bedeutungen. Die folgenden Definitionen haben unabhängig davon, ob sie im Singular oder Plural erscheinen, die gleiche Bedeutung.</p>
    <h3>Definitionen</h3>
    <p>Für die Zwecke dieser Datenschutzerklärung:</p>
    <ul>
    <li>
    <p><strong>Konto</strong> bedeutet ein einzigartiges Konto, das für Sie erstellt wurde, um auf unseren Service oder Teile unseres Service zuzugreifen.</p>
    </li>
    <li>
    <p><strong>Verbundenes Unternehmen</strong> bezeichnet ein Unternehmen, das eine Partei kontrolliert, von dieser kontrolliert wird oder unter gemeinsamer Kontrolle mit einer Partei steht, wobei „Kontrolle“ den Besitz von 50 % oder mehr der Aktien, des Beteiligungsbesitzes oder anderer Wertpapiere bedeutet, die stimmberechtigt sind zur Wahl von Direktoren oder einer anderen Verwaltungseinrichtung.</p>
    </li>
    <li>
    <p><strong>Unternehmen</strong> (in dieser Vereinbarung als „das Unternehmen“, „wir“, „uns“ oder „unser“ bezeichnet) bezieht sich auf Lukas Busch.</p>
    </li>
    <li>
    <p><strong>Cookies</strong> sind kleine Dateien, die von einer Website auf Ihrem Computer, Mobilgerät oder einem anderen Gerät gespeichert werden und die Details Ihres Browserverlaufs auf dieser Website sowie deren vielfältige Verwendung enthalten.</p>
    </li>
    <li>
    <p><strong>Land</strong> bezieht sich auf: Massachusetts, Vereinigte Staaten</p>
    </li>
    <li>
    <p><strong>Gerät</strong> bedeutet jedes Gerät, das auf den Service zugreifen kann, wie ein Computer, ein Mobiltelefon oder ein digitales Tablet.</p>
    </li>
    <li>
    <p><strong>Personenbezogene Daten</strong> sind alle Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen.</p>
    </li>
    <li>
    <p><strong>Service</strong> bezieht sich auf die Website.</p>
    </li>
    <li>
    <p><strong>Dienstleister</strong> bezeichnet jede natürliche oder juristische Person, die Daten im Auftrag des Unternehmens verarbeitet. Es bezieht sich auf Drittunternehmen oder Einzelpersonen, die vom Unternehmen beauftragt wurden, den Service zu erleichtern, den Service im Auftrag des Unternehmens bereitzustellen, Dienstleistungen im Zusammenhang mit dem Service zu erbringen oder dem Unternehmen bei der Analyse der Nutzung des Service zu helfen.</p>
    </li>
    <li>
    <p><strong>Nutzungsdaten</strong> bezieht sich auf Daten, die automatisch erfasst werden, entweder durch die Nutzung des Service oder aus der Service-Infrastruktur selbst (zum Beispiel die Dauer eines Seitenbesuchs).</p>
    </li>
    <li>
    <p><strong>Website</strong> bezieht sich auf Lukas Busch, erreichbar unter <a href="https://lukasbusch.dev/" rel="external nofollow noopener" target="_blank">https://lukasbusch.dev/</a></p>
    </li>
    <li>
    <p><strong>Sie</strong> bezieht sich auf die Person, die auf den Service zugreift oder diesen nutzt, oder auf das Unternehmen oder eine andere juristische Person, in deren Namen diese Person auf den Service zugreift oder diesen nutzt, je nach Anwendbarkeit.</p>
    </li>
    </ul>
    <h2>Erhebung und Verwendung Ihrer personenbezogenen Daten</h2>
    <h3>Arten der erfassten Daten</h3>
    <h4>Personenbezogene Daten</h4>
    <p>Während der Nutzung unseres Service bitten wir Sie möglicherweise, uns bestimmte personenbezogene Daten bereitzustellen, die verwendet werden können, um Sie zu kontaktieren oder zu identifizieren. Zu den personenbezogenen Daten können unter anderem gehören:</p>
    <ul>
    <li>
    <p>E-Mail-Adresse</p>
    </li>
    <li>
    <p>Vorname und Nachname</p>
    </li>
    <li>
    <p>Nutzungsdaten</p>
    </li>
    </ul>
    <h4>Nutzungsdaten</h4>
    <p>Nutzungsdaten werden automatisch erfasst, wenn Sie den Service nutzen.</p>
    <p>Nutzungsdaten können Informationen wie die IP-Adresse Ihres Geräts (z. B. IP-Adresse), Browsertyp, Browserversion, die Seiten unseres Service, die Sie besuchen, Datum und Uhrzeit Ihres Besuchs, die auf diesen Seiten verbrachte Zeit, eindeutige Gerätekennungen und andere Diagnosedaten umfassen.</p>
    <p>Wenn Sie über ein mobiles Gerät auf den Service zugreifen, können wir bestimmte Informationen automatisch erfassen, einschließlich, aber nicht beschränkt auf den Typ des von Ihnen verwendeten mobilen Geräts, die eindeutige ID Ihres mobilen Geräts, die IP-Adresse Ihres mobilen Geräts, Ihr mobiles Betriebssystem, den Typ des mobilen Internetbrowsers, den Sie verwenden, eindeutige Gerätekennungen und andere Diagnosedaten.</p>
    <p>Wir können auch Informationen erfassen, die Ihr Browser sendet, wenn Sie unseren Service besuchen, oder wenn Sie auf den Service über ein mobiles Gerät zugreifen.</p>
    <h4>Tracking-Technologien und Cookies</h4>
    <p>Wir verwenden Cookies und ähnliche Tracking-Technologien, um die Aktivität auf unserem Service zu verfolgen und bestimmte Informationen zu speichern. Zu den verwendeten Tracking-Technologien gehören Beacons, Tags und Skripte zum Sammeln und Verfolgen von Informationen sowie zur Verbesserung und Analyse unseres Service. Die von uns verwendeten Technologien können umfassen:</p>
    <ul>
    <li><strong>Cookies oder Browser-Cookies.</strong> Ein Cookie ist eine kleine Datei, die auf Ihrem Gerät abgelegt wird. Sie können Ihren Browser anweisen, alle Cookies abzulehnen oder anzugeben, wann ein Cookie gesendet wird. Wenn Sie jedoch keine Cookies akzeptieren, können Sie möglicherweise einige Teile unseres Service nicht nutzen. Sofern Sie Ihre Browsereinstellung nicht so angepasst haben, dass Cookies abgelehnt werden, kann unser Service Cookies verwenden.</li>
    <li><strong>Web Beacons.</strong> Bestimmte Abschnitte unseres Service und unserer E-Mails können kleine elektronische Dateien enthalten, die als Web Beacons bezeichnet werden (auch bekannt als Clear Gifs, Pixel-Tags und Single-Pixel-Gifs), die es dem Unternehmen beispielsweise ermöglichen, Benutzer zu zählen, die diese Seiten besucht oder eine E-Mail geöffnet haben, und für andere verwandte Website-Statistiken (z. B. Aufzeichnen der Popularität eines bestimmten Abschnitts und Überprüfung der System- und Serverintegrität).</li>
    </ul>
    <p>Cookies können „persistent“ oder „sessionbasiert“ sein. Persistente Cookies verbleiben auf Ihrem Computer oder mobilen Gerät, wenn Sie offline gehen, während Sitzungscookies gelöscht werden, sobald Sie Ihren Webbrowser schließen. Sie können mehr über Cookies im Artikel der <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">TermsFeed-Website</a> erfahren.</p>
    <p>Wir verwenden sowohl Session-Cookies als auch persistente Cookies für die unten aufgeführten Zwecke:</p>
    <ul>
    <li>
    <p><strong>Notwendige / wesentliche Cookies</strong></p>
    <p>Typ: Session-Cookies</p>
    <p>Verwaltet von: Uns</p>
    <p>Zweck: Diese Cookies sind unerlässlich, um Ihnen über die Website verfügbare Dienste bereitzustellen und es Ihnen zu ermöglichen, einige ihrer Funktionen zu nutzen. Sie helfen bei der Authentifizierung von Benutzern und verhindern die betrügerische Nutzung von Benutzerkonten. Ohne diese Cookies können die Dienste, die Sie angefordert haben, nicht bereitgestellt werden, und wir verwenden diese Cookies nur, um Ihnen diese Dienste bereitzustellen.</p>
    </li>
    <li>
    <p><strong>Cookies zur Annahme der Cookie-Richtlinie / des Hinweises</strong></p>
    <p>Typ: Persistente Cookies</p>
    <p>Verwaltet von: Uns</p>
    <p>Zweck: Diese Cookies erkennen, ob Benutzer die Verwendung von Cookies auf der Website akzeptiert haben.</p>
    </li>
    <li>
    <p><strong>Funktions-Cookies</strong></p>
    <p>Typ: Persistente Cookies</p>
    <p>Verwaltet von: Uns</p>
    <p>Zweck: Diese Cookies ermöglichen es uns, uns an die von Ihnen getroffenen Entscheidungen zu erinnern, wenn Sie die Website nutzen, z. B. um sich Ihre Anmeldedaten oder Ihre Sprachpräferenz zu merken. Der Zweck dieser Cookies besteht darin, Ihnen eine persönlichere Erfahrung zu bieten und zu vermeiden, dass Sie Ihre Einstellungen jedes Mal erneut eingeben müssen, wenn Sie die Website nutzen.</p>
    </li>
    </ul>
    <p>Weitere Informationen zu den von uns verwendeten Cookies und Ihren Auswahlmöglichkeiten in Bezug auf Cookies finden Sie in unserer Cookie-Richtlinie oder im Abschnitt Cookies unserer Datenschutzerklärung.</p>
    <h3>Verwendung Ihrer personenbezogenen Daten</h3>
    <p>Das Unternehmen kann personenbezogene Daten für die folgenden Zwecke verwenden:</p>
    <ul>
    <li>
    <p><strong>Um unseren Service bereitzustellen und aufrechtzuerhalten</strong>, einschließlich der Überwachung der Nutzung unseres Service.</p>
    </li>
    <li>
    <p><strong>Um Ihr Konto zu verwalten:</strong> zur Verwaltung Ihrer Registrierung als Benutzer des Service. Die von Ihnen bereitgestellten personenbezogenen Daten können Ihnen Zugriff auf verschiedene Funktionalitäten des Service verschaffen, die Ihnen als registrierter Benutzer zur Verfügung stehen.</p>
    </li>
    <li>
    <p><strong>Zur Erfüllung eines Vertrags:</strong> die Entwicklung, Einhaltung und Erfüllung des Kaufvertrags für die von Ihnen gekauften Produkte, Artikel oder Dienstleistungen oder eines anderen Vertrags mit uns über den Service.</p>
    </li>
    <li>
    <p><strong>Um Sie zu kontaktieren:</strong> Um Sie per E-Mail, Telefonanrufe, SMS oder andere gleichwertige Formen der elektronischen Kommunikation zu kontaktieren, wie z. B. Push-Benachrichtigungen einer mobilen Anwendung in Bezug auf Updates oder informative Mitteilungen zu den Funktionalitäten, Produkten oder vertraglich vereinbarten Dienstleistungen, einschließlich der Sicherheitsupdates, wenn dies für deren Implementierung erforderlich oder vernünftig ist.</p>
    </li>
    <li>
    <p><strong>Um Ihnen</strong> Nachrichten, Sonderangebote und allgemeine Informationen über andere Waren, Dienstleistungen und Veranstaltungen bereitzustellen, die wir anbieten, die denen ähnlich sind, die Sie bereits gekauft oder angefragt haben, es sei denn, Sie haben sich gegen den Erhalt solcher Informationen entschieden.</p>
    </li>
    <li>
    <p><strong>Um Ihre Anfragen zu verwalten:</strong> Um Ihre Anfragen an uns zu bearbeiten und zu verwalten.</p>
    </li>
    <li>
    <p><strong>Für Geschäftsübertragungen:</strong> Wir können Ihre Informationen verwenden, um eine Fusion, Veräußerung, Umstrukturierung, Reorganisation, Auflösung oder einen anderen Verkauf oder Transfer einiger oder aller unserer Vermögenswerte zu bewerten oder durchzuführen, sei es als laufendes Unternehmen oder als Teil eines Insolvenz-, Liquidations- oder ähnlichen Verfahrens, bei dem personenbezogene Daten, die wir über unsere Service-Nutzer gespeichert haben, zu den übertragenen Vermögenswerten gehören.</p>
    </li>
    <li>
    <p><strong>Für andere Zwecke</strong>: Wir können Ihre Informationen für andere Zwecke verwenden, wie z. B. Datenanalyse, Ermittlung von Nutzungstrends, Bestimmung der Wirksamkeit unserer Werbekampagnen und zur Bewertung und Verbesserung unseres Service, unserer Produkte, Dienstleistungen, unseres Marketings und Ihrer Erfahrung.</p>
    </li>
    </ul>
    <p>Wir können Ihre persönlichen Informationen in den folgenden Situationen weitergeben:</p>
    <ul>
    <li><strong>Mit Dienstleistern:</strong> Wir können Ihre persönlichen Informationen an Dienstleister weitergeben, um die Nutzung unseres Service zu überwachen und zu analysieren, um Sie zu kontaktieren.</li>
    <li><strong>Für Geschäftsübertragungen:</strong> Wir können Ihre persönlichen Informationen im Zusammenhang mit oder während der Verhandlungen über eine Fusion, den Verkauf von Unternehmensvermögen, die Finanzierung oder den Erwerb unseres gesamten oder eines Teils unseres Geschäfts an ein anderes Unternehmen weitergeben oder übertragen.</li>
    <li><strong>Mit verbundenen Unternehmen:</strong> Wir können Ihre Informationen mit unseren verbundenen Unternehmen teilen, in diesem Fall werden wir von diesen verbundenen Unternehmen verlangen, diese Datenschutzerklärung einzuhalten. Zu den verbundenen Unternehmen gehören unser Mutterunternehmen und alle anderen Tochtergesellschaften, Joint-Venture-Partner oder andere Unternehmen, die wir kontrollieren oder die mit uns unter gemeinsamer Kontrolle stehen.</li>
    <li><strong>Mit Geschäftspartnern:</strong> Wir können Ihre Informationen mit unseren Geschäftspartnern teilen, um Ihnen bestimmte Produkte, Dienstleistungen oder Werbeaktionen anzubieten.</li>
    <li><strong>Mit anderen Benutzern:</strong> Wenn Sie persönliche Informationen teilen oder auf andere Weise in den öffentlichen Bereichen mit anderen Benutzern interagieren, können diese Informationen von allen Benutzern angezeigt und öffentlich nach außen verbreitet werden.</li>
    <li><strong>Mit Ihrer Zustimmung</strong>: Wir können Ihre persönlichen Informationen für andere Zwecke mit Ihrer Zustimmung offenlegen.</li>
    </ul>
    <h3>Aufbewahrung Ihrer personenbezogenen Daten</h3>
    <p>Das Unternehmen wird Ihre personenbezogenen Daten nur so lange aufbewahren, wie dies für die in dieser Datenschutzerklärung festgelegten Zwecke erforderlich ist. Wir werden Ihre personenbezogenen Daten in dem Umfang aufbewahren und verwenden, der erforderlich ist, um unseren gesetzlichen Verpflichtungen nachzukommen (z. B. wenn wir Ihre Daten aufbewahren müssen, um geltende Gesetze einzuhalten), Streitigkeiten beizulegen und unsere rechtlichen Vereinbarungen und Richtlinien durchzusetzen.</p>
    <p>Das Unternehmen wird auch Nutzungsdaten für interne Analysezwecke aufbewahren. Nutzungsdaten werden im Allgemeinen für einen kürzeren Zeitraum aufbewahrt, es sei denn, diese Daten werden zur Stärkung der Sicherheit oder zur Verbesserung der Funktionalität unseres Service verwendet, oder wir sind gesetzlich verpflichtet, diese Daten für längere Zeiträume aufzubewahren.</p>
    <h3>Übertragung Ihrer personenbezogenen Daten</h3>
    <p>Ihre Informationen, einschließlich personenbezogener Daten, werden in den Betriebsbüros des Unternehmens und an allen anderen Orten verarbeitet, an denen sich die an der Verarbeitung beteiligten Parteien befinden. Dies bedeutet, dass diese Informationen an – und auf – Computern außerhalb Ihres Staates, Ihrer Provinz, Ihres Landes oder einer anderen staatlichen Gerichtsbarkeit, in der die Datenschutzgesetze von denen Ihrer Gerichtsbarkeit abweichen können, übertragen und gespeichert werden können.</p>
    <p>Ihre Zustimmung zu dieser Datenschutzerklärung, gefolgt von Ihrer Übermittlung solcher Informationen, stellt Ihre Zustimmung zu dieser Übertragung dar.</p>
    <p>Das Unternehmen wird alle vernünftigerweise notwendigen Schritte unternehmen, um sicherzustellen, dass Ihre Daten sicher und in Übereinstimmung mit dieser Datenschutzerklärung behandelt werden und keine Übertragung Ihrer personenbezogenen Daten an eine Organisation oder ein Land erfolgen wird, es sei denn, es bestehen angemessene Kontrollen, einschließlich der Sicherheit Ihrer Daten und anderer persönlicher Informationen.</p>
    <h3>Löschen Ihrer personenbezogenen Daten</h3>
    <p>Sie haben das Recht, Ihre personenbezogenen Daten zu löschen oder uns zu bitten, bei der Löschung der personenbezogenen Daten, die wir über Sie erfasst haben, behilflich zu sein.</p>
    <p>Unser Service kann Ihnen die Möglichkeit geben, bestimmte Informationen über Sie innerhalb des Service zu löschen.</p>
    <p>Sie können Ihre Informationen jederzeit aktualisieren, ändern oder löschen, indem Sie sich bei Ihrem Konto anmelden, falls Sie eines haben, und den Abschnitt mit den Kontoeinstellungen besuchen, der es Ihnen ermöglicht, Ihre persönlichen Daten zu verwalten. Sie können uns auch kontaktieren, um Zugriff auf, die Berichtigung oder die Löschung der von Ihnen bereitgestellten personenbezogenen Daten zu verlangen.</p>
    <p>Bitte beachten Sie jedoch, dass wir möglicherweise bestimmte Informationen aufbewahren müssen, wenn wir gesetzlich dazu verpflichtet sind oder einen rechtmäßigen Grund dafür haben.</p>
    <h3>Offenlegung Ihrer personenbezogenen Daten</h3>
    <h4>Geschäftsvorfälle</h4>
    <p>Wenn das Unternehmen an einer Fusion, Übernahme oder einem Verkauf von Vermögenswerten beteiligt ist, können Ihre personenbezogenen Daten übertragen werden. Wir werden eine Mitteilung bereitstellen, bevor Ihre personenbezogenen Daten übertragen werden und einer anderen Datenschutzerklärung unterliegen.</p>
    <h4>Strafverfolgung</h4>
    <p>Unter bestimmten Umständen kann das Unternehmen verpflichtet sein, Ihre personenbezogenen Daten offenzulegen, wenn dies gesetzlich vorgeschrieben ist oder auf berechtigte Anfragen von Behörden (z. B. einem Gericht oder einer Regierungsbehörde) reagiert.</p>
    <h4>Andere gesetzliche Anforderungen</h4>
    <p>Das Unternehmen kann Ihre personenbezogenen Daten im guten Glauben offenlegen, dass eine solche Maßnahme erforderlich ist, um:</p>
    <ul>
    <li>Einer gesetzlichen Verpflichtung nachzukommen</li>
    <li>Die Rechte oder das Eigentum des Unternehmens zu schützen und zu verteidigen</li>
    <li>Mögliche Fehlverhalten im Zusammenhang mit dem Service zu verhindern oder zu untersuchen</li>
    <li>Die persönliche Sicherheit von Nutzern des Service oder der Öffentlichkeit zu schützen</li>
    <li>Rechtliche Haftung zu schützen</li>
    </ul>
    <h3>Sicherheit Ihrer personenbezogenen Daten</h3>
    <p>Die Sicherheit Ihrer personenbezogenen Daten ist uns wichtig, aber denken Sie daran, dass keine Methode der Übertragung über das Internet oder Methode der elektronischen Speicherung 100 % sicher ist. Während wir uns bemühen, wirtschaftlich akzeptable Mittel zu verwenden, um Ihre personenbezogenen Daten zu schützen, können wir deren absolute Sicherheit nicht garantieren.</p>
    <h2>Datenschutz von Kindern</h2>
    <p>Unser Service richtet sich nicht an Personen unter 13 Jahren. Wir erfassen nicht wissentlich personenbezogene Daten von Personen unter 13 Jahren. Wenn Sie ein Elternteil oder Erziehungsberechtigter sind und wissen, dass Ihr Kind uns personenbezogene Daten zur Verfügung gestellt hat, kontaktieren Sie uns bitte. Wenn wir erfahren, dass wir personenbezogene Daten von Personen unter 13 Jahren ohne Überprüfung der elterlichen Zustimmung erfasst haben, ergreifen wir Maßnahmen, um diese Informationen von unseren Servern zu entfernen.</p>
    <p>Wenn wir uns auf die Zustimmung als Rechtsgrundlage für die Verarbeitung Ihrer Informationen stützen müssen und Ihr Land die Zustimmung eines Elternteils erfordert, können wir die Zustimmung Ihres Elternteils benötigen, bevor wir diese Informationen erfassen und verwenden.</p>
    <h2>Links zu anderen Websites</h2>
    <p>Unser Service kann Links zu anderen Websites enthalten, die nicht von uns betrieben werden. Wenn Sie auf einen Link eines Drittanbieters klicken, werden Sie zu dieser Website weitergeleitet. Wir empfehlen Ihnen dringend, die Datenschutzerklärung jeder Website zu lesen, die Sie besuchen.</p>
    <p>Wir haben keine Kontrolle über und übernehmen keine Verantwortung für die Inhalte, Datenschutzrichtlinien oder -praktiken von Websites oder Diensten Dritter.</p>
    <h2>Änderungen dieser Datenschutzerklärung</h2>
    <p>Wir können unsere Datenschutzerklärung von Zeit zu Zeit aktualisieren. Wir werden Sie über alle Änderungen informieren, indem wir die neue Datenschutzerklärung auf dieser Seite veröffentlichen.</p>
    <p>Wir werden Sie per E-Mail und/oder einem auffälligen Hinweis auf unserem Service informieren, bevor die Änderung in Kraft tritt und das Datum der „Letzten Aktualisierung“ oben in dieser Datenschutzerklärung aktualisieren.</p>
    <p>Wir empfehlen Ihnen, diese Datenschutzerklärung regelmäßig auf Änderungen zu überprüfen. Änderungen dieser Datenschutzerklärung treten in Kraft, wenn sie auf dieser Seite veröffentlicht werden.</p>
    <h2>Kontaktieren Sie uns</h2>
    <p>Wenn Sie Fragen zu dieser Datenschutzerklärung haben, können Sie uns kontaktieren:</p>
    <ul>
    <li>
    <p>Per E-Mail: <a (click)="sharedService.openContact()" class="__cf_email__" data-cfemail="3f5d4a4c5c57534a545e4c0e080a7f58525e5653115c5052">buschlukas175&#64;gmail.com</a></p>
    </li>
    <li>
    <p>Indem Sie diese Seite auf unserer Website besuchen: <a (click)="sharedService.openContact()" rel="external nofollow noopener" target="_blank">https://lukasbusch.dev</a></p>
    </li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="footer">
    <div class="container">
    <p>Erstellt mit dem <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Datenschutzerklärungsgenerator von TermsFeed</a></p>
    </div>
    </div>
    <div id="scroll-up" class="center" *ngIf="isScrollButtonVisible" (click)="scrollUp()">
        <img id="scroll-arrow" src="./assets/img/arrow_white.svg">
    </div>
</div>