@import 'variables';

nav {
  height: 15vh;
  width: 100%;
  padding: 2% 5%;
  background: $white;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

  #menu {
    display: none;
    height: 30px;
    width: 30px;

    &:hover {
        cursor: pointer;
        filter: none;
    }
  }
  
  img:first-of-type {
    height: 64px;
    width: 64px;   
  }
  
  .links-container {
    span {
      color: $blue;
      line-height: 27.6px;
      font-size: 1rem;
      font-weight: 400;
      font-family: $textfont;
      position: relative;
      text-decoration: none;
    
      &:hover {
        cursor: pointer;
      }
    
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $blue;
        transition: width 0.2s ease-in-out;
      }
      
      &:hover::after {
        width: 100%;
      }
    
      &:not(:hover)::after {
        width: 0;
      }
    }
  } 
}

#language-container {
  top: 20%;
  right: 5%;

  span {
    color: $blue;
    font-family: $textfont;
    font-size: 0.8rem;
  }

  .lang-btn {
    cursor: pointer;
  
    &.active {
      font-weight: bold;
    }
  
    &:hover {
      cursor: pointer;
      filter: brightness(0.8);
    }
  }  
}

@media(max-width: 800px) {
  nav {
    height: 15vh;

    div:last-of-type,
    #language-container {
      display: none;
    }

    #menu {
      display: block !important;
    }
  }
}