@import 'variables';

#description-container {
    gap: 50px;
    
    #ball5 {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    #ball6 {
        position: absolute;
        right: 24%;
        top: 40px;
        height: 15vw;
        max-height: 82px;
    }

    position: relative;
    padding: 100px 5% 60px 5%;
    height: 550px;

    #heading-icon-container {
        width: 50%;
        height: 275px;

        #heading-container {
            h3 {
                text-align: center;
                max-width: 500px;
            }
        }

        #icon-container {
            max-width: 500px;

            span {
                font-family: $textfont;
                color: $blue;
                font-size: 0.8rem;
            }

            img {
                height: 30px;
                width: 30px;
                object-fit: contain;
            }
        }
    }

    #my-description-container {
        width: 50%;
        height: 275px;

        span {
            font-family: $textfont;
            color: $black;
            font-size: 1rem;
        }

        #contact-button-container {
            width: 100%;

            #contact-button {
                width: fit-content;
                font-family: $textfont;
                color: $blue;
                font-size: 1rem;
                border: 1px solid $blue;
                border-radius: 10px;
                padding: 10px 15px;
                transition: all 125ms ease-in-out;
                box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);

                &:hover {
                    cursor: pointer;
                    color: $white;
                    background-color: $blue;
                    transition: all 125ms ease-in-out;
                    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

@media(max-width: 800px) {
    #description-container {
        height: fit-content;
        flex-direction: column;
        align-items: center;

        #heading-icon-container {
            width: 100%;
            height: fit-content;

            h3, #icon-container {
                max-width: none !important;
            }
        }

        #icon-container {
            flex-direction: column;
            align-items: center;

            div {
                gap: 15px;
            }

            br {
                display: none;
            }
        }

        #my-description-container {
            align-items: center;
            height: fit-content;
            width: 100%;
            gap: 40px;
            
            span {
                font-size: 0.9rem;
            }

            div:last-of-type {
                display: flex;
                justify-content: center;
            }
        }
    }

    #ball5 {
        height: 150px;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    #ball6 {
        right: 5% !important;
    }
}