<div id="description-container" class="center">
    <img id="ball5" src="./assets/img/ball5.svg">
    <img id="ball6" src="./assets/img/ball6.svg">

    <div id="heading-description-container" class="row center">
        <div id="heading-icon-container" class="column gap-30 between">
            <div id="heading-container" class="column gap-30">
                <h2>Let's work <br> together</h2>
                <h3>I am</h3>
            </div>
    
            <div id="icon-container" class="row gap-20 between">
                <div class="gap-5 center">
                    <img src="./assets/img/location.svg">
                    <span>located in Mérida,<br> Yucatán, MX</span>
                </div>
                <div class="gap-5 center">
                    <img src="./assets/img/remote.svg">
                    <span>open to work <br> remote</span>
                </div>
                <div class="gap-5 center">
                    <img src="./assets/img/travel.svg">
                    <span>open to travel</span>
                </div>
            </div>
        </div>
        
        <div id="my-description-container" class="column between">
            <div id="my-description">
                <span>
                    I am a Front-end developer based in Mérida, Mexico. 
                    I enjoy helping designers and companies bring their ideas into real life.
                    I am looking forward to continuing my developer career with a job in a junior web developer position. 
                    My ability to solve complex problems and my passion for programming make me a valuable member for your team.
                    <br><br>
                    If you think I’d be a good match for your projects, contact me!
                </span>
            </div>
    
            <div id="contact-button-container">
                <span id="contact-button" (click)="scrollService.scrollToSection('contact-container')">Send a message</span>
            </div>
        </div>
    </div>
</div>
