<div id="description-container" [ngClass]="{'dark-mode': checkDarkMode()}" class="center">
    <img id="ball5" src="./assets/img/ball5.svg">
    <img id="ball6" src="./assets/img/ball6.svg">

    <div id="heading-description-container" class="row center">
        <div id="heading-icon-container" class="column gap-30 between">
            <div id="heading-container" class="column gap-30">
                <h2>{{ getTranslation('DESCRIPTION_HEADING') }}</h2>
                <h3>{{ getTranslation('I_AM') }}</h3>
            </div>
    
            <div id="icon-container" class="row gap-20 between">
                <div class="gap-5 center">
                    <img src="./assets/img/location.svg">
                    <span [innerHTML]="getTranslation('LOCATION')"></span>
                </div>
                <div class="gap-5 center">
                    <img src="./assets/img/remote.svg">
                    <span [innerHTML]="getTranslation('WORK_REMOTE')"></span>
                </div>
                <div class="gap-5 center">
                    <img src="./assets/img/travel.svg">
                    <span [innerHTML]="getTranslation('OPEN_TRAVEL')"></span>
                </div>
            </div>
        </div>
        
        <div id="my-description-container" class="column between gap-20">
            <div id="my-description" class="column gap-20">
                <span [ngClass]="{'dark-mode-text': checkDarkMode()}">{{ getTranslation('DESCRIPTION_TEXT_1') }}</span>
                <span [ngClass]="{'dark-mode-text': checkDarkMode()}">{{ getTranslation('DESCRIPTION_TEXT_2') }}</span>
            </div>
    
            <div id="contact-button-container">
                <span id="contact-button" (click)="scrollService.scrollToSection('contact-container')">{{ getTranslation('DESCRIPTION_BUTTON') }}</span>
            </div>
        </div>
    </div>
</div>