<div id="menu-container">
    <img id="logo" class="absolute" src="./assets/img/logo_blue.png">
    <img (click)="closeMenu()" id="menu" class="absolute" src="./assets/img/menu.png">

    <nav class="center column">
        <a (click)="closeMenu()" href="#description-container">About me</a>
        <a (click)="closeMenu()" href="#skillset-container">Skill set</a>
        <a (click)="closeMenu()" href="#projects-container">My work</a>
        <a (click)="closeMenu()" href="#contact-container">Contact</a>
    </nav>
</div>
