<div id="projects-container" class="column gap-30" [ngClass]="{'dark-mode': checkDarkMode()}">
    <img id="ball7" src="./assets/img/ball12.svg" class="absolute">
    <img id="ball8" src="./assets/img/ball8.svg" class="absolute">
    <img id="ball4" src="./assets/img/ball4.svg" class="absolute">
    <img id="ball9" src="./assets/img/ball9.svg" class="absolute">
    <img id="ball11" src="./assets/img/ball11.svg" class="absolute">
    <img id="ball12" src="./assets/img/ball12.svg" class="absolute">

    <div id="projects-heading-container" class="column gap-20">
        <h2>My work</h2>
        <span [ngClass]="{'dark-mode-text': checkDarkMode()}">Explore a selection of my work here - Interact with projects to see my skills in action.</span>
    </div>

    <app-single-project></app-single-project>
</div>