@import 'variables';

#projects-container {
    padding: 80px 5%;
    position: relative;
    gap: 10vh;
    
    #projects-heading-container {
        position: relative;
        z-index: 9;

        h2 {
            color: $blue;
        }

        span {
            color: $black;
            font-size: 0.9rem;
            font-family: $textfont;
            max-width: 400px;
        }
    }

    #ball7 {
        height: 8vw;
        max-height: 100px;
        top: 20px;
        left: 40%;
    }

    #ball8 {
        height: 14vw;
        max-height: 10%;
        top: 7%;
        right: 10%;
    }

    #ball4 {
        height: 35vw;
        max-height: 350px;
        top: 18%;
        left: 0;
    }

    #ball9 {
        height: 30vw;
        max-height: 400px;
        top: 40%;
        right: 0;
    }

    #ball11 {
        height: 18vw;
        max-height: 200px;
        bottom: 23%;
        left: 5%;
    }


    #ball12 {
        height: 8vw;
        max-height: 100px;
        bottom: 3%;
        right: 5%;
    } 
}

@media(max-width: 600px) {
    #ball8 {
        top: 2% !important;
    }

    #ball11 {
        bottom: 27% !important;
    }
}