<nav class="row between">
    <div class="center">
        <img src="./assets/img/logo.png">
    </div>

    <div class="center gap-25">
        <span (click)="scrollService.scrollToSection('description-container')">About me</span>
        <span (click)="scrollService.scrollToSection('skillset-container')">Skill set</span>
        <span (click)="scrollService.scrollToSection('projects-container')">My work</span>
        <span (click)="scrollService.scrollToSection('contact-container')">Contact</span>
    </div>
</nav>
