<nav class="row between">
    <div class="center">
        <img src="./assets/img/logo.svg">
    </div>

    <div id="language-container" class="row absolute gap-15">
        <span>EN</span>
        <span>|</span>
        <span>ES</span>
        <span>|</span>
        <span>DE</span>
    </div>

    <div class="center gap-20">
        <span (click)="scrollService.scrollToSection('description-container')">About me</span>
        <span (click)="scrollService.scrollToSection('skillset-container')">Skill set</span>
        <span (click)="scrollService.scrollToSection('projects-container')">My work</span>
        <span (click)="scrollService.scrollToSection('contact-container')">Contact</span>
        <span (click)="toggleDarkMode()">
            <ng-container *ngIf="checkDarkMode(); else lightMode">Light</ng-container>
            <ng-template #lightMode>Dark</ng-template>
        </span>
    </div>

    <img (click)="openMenu()" id="menu" src="./assets/img/menu.svg">
</nav>