<img id="back" class="absolute" (click)="closeLegalNotice()" src="./assets/img/arrow.svg">

<div [ngClass]="{'dark-mode-privacy-legal': checkDarkMode()}" class="legal-notice-container column">
    <h2 data-lang="legal-notice-heading">Legal notice</h2>
    <div class="column gap-30 legal-notice-segments">
        <div class="column gap-20">
            <h3 data-lang="legal-notice-heading-2">Information according to § 5 TMG</h3>
            <div class="column gap-10">
                <span>Lukas Busch</span>
                <span>Calle 41 595 2 por 84A y 84B</span>
                <span>97000 Mérida</span>
                <span data-lang="mexico">Mexico</span>
            </div>
        </div>
    
        <div class="column gap-20">
            <h3 data-lang="legal-notice-heading-3">Contact</h3>
            <div class="column gap-10">
                <div class="row gap-10">
                    <span data-lang="phone">Phone:</span><a href="tel:+436643126109">+52 999 351 80 61</a>
                </div>
                <span>E-Mail: <a (click)="sharedService.openContact()">buschlukas175&#64;gmail.com</a></span>
            </div>
        </div>

        <div class="row gap-10">
            <span data-lang="legal-notice-source">Source:</span>
            <a href="https://www.e-recht24.de">eRecht24</a>
        </div>
    </div>
</div>