<img id="back" class="absolute" (click)="closeLegalNotice()" src="./assets/img/arrow.svg" appScrollAnimation animationClass="fade-in-bottom">

<div [ngClass]="{'dark-mode-privacy-legal': checkDarkMode()}" class="legal-notice-container column">
    <h2 data-lang="legal-notice-heading" appScrollAnimation animationClass="fade-in-bottom">{{ getTranslation('LEGAL_NOTICE_HEADING') }}</h2>
    <div class="column gap-30 legal-notice-segments" appScrollAnimation animationClass="fade-in-bottom">
        <div class="column gap-20">
            <h3 data-lang="legal-notice-heading-2">{{ getTranslation('LEGAL_NOTICE_HEADING') }}</h3>
            <div class="column gap-10">
                <span>Lukas Busch</span>
                <span>Calle 41 595</span>
                <span>97000 {{ getTranslation('LEGAL_NOTICE_CITY') }}</span>
                <span data-lang="mexico">{{ getTranslation('LEGAL_NOTICE_COUNTRY') }}</span>
            </div>
        </div>
    
        <div class="column gap-20">
            <h3 data-lang="legal-notice-heading-3">{{ getTranslation('LEGAL_NOTICE_CONTACT') }}</h3>
            <div class="column gap-10">
                <div class="row gap-10">
                    <span data-lang="phone">{{ getTranslation('LEGAL_NOTICE_PHONE') }}</span><a href="tel:+529993518061">+52 999 351 80 61</a>
                </div>
                <span>
                    {{ getTranslation('LEGAL_NOTICE_MAIL') }}
                    <a (click)="openContact()">webdeveloper&#64;lukasbusch.dev</a>
                </span>
            </div>
        </div>

        <div class="row gap-10">
            <span data-lang="legal-notice-source">{{ getTranslation('LEGAL_NOTICE_SOURCE') }}</span>
            <a href="https://www.e-recht24.de">eRecht24</a>
        </div>
    </div>
</div>