@import 'variables';

.legal-notice-container {
    padding: 12vh 4rem;
    width: 100%;
    gap: 80px;
    margin-top: 15vh;
}

.legal-notice-segments {
    height: 50vh;
    justify-content: space-between;
}

h2 {
    font-size: min(14vmin, 4rem);
}

h3 {
    font-size: min(9vmin, 2rem);
}

a, span {
    font-family: $textfont;
}

a {
    color: $blue;

    &:hover {
        cursor: pointer;
        filter: brightness(0.8);
    }
}

#back {
    top: calc(5% + 15vh);
    left: 4%;
    max-height: 30px;
    height: 20vw;
    rotate: 90deg;
    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
    }
}

@media(max-width: 800px) {
    #back {
        top: calc(5% + 12vh);
    }
    
    .legal-notice-container {
        gap: 20px;
        height: calc(100vh - 12vh);
        margin-top: 12vh;
    }

    .legal-notice-container h3 {
        font-weight: 600 !important;
    }
}

@media(max-width: 550px) {
    .legal-notice-container {
        align-items: flex-start;
        padding: 12vh 2rem;
    }
}

@media(max-width: 400px) {
    a, span {
        font-size: 0.8rem;
    }
}