@import 'variables';

#skillset-container {
    height: fit-content;
    min-height: 600px;
    width: 100%;
    background-image: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
    padding: 60px 5%;
    gap: 80px;
    align-items: center;
    scroll-margin-top: 15vh;

    h2 {
        color: $white;
    }

    #skillset {
        flex-wrap: wrap;
        gap: 90px;
        max-width: 1440px;
        
        .skill {
            width: 105px;
            color: $white;
            font-family: $textfont;
            font-size: 0.9rem;

            span {
                text-align: center;
            }
        }
    }
}

@media(max-width: 800px) {
    #skillset-container {
        scroll-margin-top: 12vh;

        #skillset {
            gap: 5vw !important;
    
            img {
                height: auto;
                width: 60%;
                max-width: 105px;
            }
        }
    }
}

@media(max-width: 450px) {
    #skillset-container {
        gap: 8vh;
    }

    #skillset {
        img {
            width: 40%;
        }

        div {
            width: 90px !important;
        }
    }
}