<img id="back" class="absolute" (click)="closePrivacy()" src="./assets/img/arrow.svg" appScrollAnimation animationClass="fade-in-bottom">

<div id="scroll-up" class="center" *ngIf="isScrollButtonVisible" (click)="scrollUp()">
  <img id="scroll-arrow" src="./assets/img/arrow_white.svg">
</div>

<div *ngIf="currentLanguage === 'en'">
  <app-privacy-en></app-privacy-en>
</div>
<div *ngIf="currentLanguage === 'es'">
  <app-privacy-es></app-privacy-es>
</div>
<div *ngIf="currentLanguage === 'de'">
  <app-privacy-de></app-privacy-de>
</div>