<div class="page" [ngClass]="{'dark-mode-privacy-legal': checkDarkMode()}" appScrollAnimation animationClass="fade-in-bottom">
    <div class="translations-content-container">
    <div class="container">
    <div class="tab-content translations-content-item es visible" id="es">
    <h1>Política de Privacidad</h1>
    <p>Última actualización: 20 de octubre de 2024</p>
    <p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, el uso y la divulgación de su información cuando utiliza el Servicio, y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>
    <p>Usamos sus datos personales para proporcionar y mejorar el servicio. Al usar el Servicio, usted acepta la recopilación y el uso de la información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Generador de Políticas de Privacidad</a>.</p>
    <h2>Interpretación y Definiciones</h2>
    <h3>Interpretación</h3>
    <p>Las palabras cuya letra inicial está en mayúscula tienen los significados definidos en las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de si aparecen en singular o en plural.</p>
    <h3>Definiciones</h3>
    <p>A efectos de esta Política de Privacidad:</p>
    <ul>
    <li>
    <p><strong>Cuenta</strong> significa una cuenta única creada para que acceda a nuestro Servicio o partes de nuestro Servicio.</p>
    </li>
    <li>
    <p><strong>Afiliado</strong> significa una entidad que controla, es controlada por o está bajo control común con una parte, donde "control" significa la propiedad del 50% o más de las acciones, intereses de capital u otros valores con derecho a voto para la elección de directores u otra autoridad de gestión.</p>
    </li>
    <li>
    <p><strong>Compañía</strong> (denominada "la Compañía", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a Lukas Busch.</p>
    </li>
    <li>
    <p><strong>Cookies</strong> son pequeños archivos que se colocan en su computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen los detalles de su historial de navegación en ese sitio web, entre sus muchos usos.</p>
    </li>
    <li>
    <p><strong>País</strong> se refiere a: Massachusetts, Estados Unidos</p>
    </li>
    <li>
    <p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono móvil o una tableta digital.</p>
    </li>
    <li>
    <p><strong>Datos Personales</strong> son cualquier información que se refiere a un individuo identificado o identificable.</p>
    </li>
    <li>
    <p><strong>Servicio</strong> se refiere al Sitio Web.</p>
    </li>
    <li>
    <p><strong>Proveedor de Servicios</strong> significa cualquier persona física o jurídica que procesa los datos en nombre de la Compañía. Se refiere a empresas o individuos de terceros empleados por la Compañía para facilitar el Servicio, para proporcionar el Servicio en nombre de la Compañía, para realizar servicios relacionados con el Servicio o para ayudar a la Compañía a analizar cómo se utiliza el Servicio.</p>
    </li>
    <li>
    <p><strong>Datos de Uso</strong> se refiere a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</p>
    </li>
    <li>
    <p><strong>Sitio Web</strong> se refiere a Lukas Busch, accesible desde <a href="https://lukasbusch.dev/" rel="external nofollow noopener" target="_blank">https://lukasbusch.dev/</a></p>
    </li>
    <li>
    <p><strong>Usted</strong> significa la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
    </li>
    </ul>
    <h2>Recopilación y Uso de sus Datos Personales</h2>
    <h3>Tipos de Datos Recopilados</h3>
    <h4>Datos Personales</h4>
    <p>Al utilizar nuestro Servicio, podemos pedirle que nos proporcione cierta información personal identificable que pueda ser utilizada para contactarlo o identificarlo. La información personal identificable puede incluir, entre otros:</p>
    <ul>
    <li>
    <p>Dirección de correo electrónico</p>
    </li>
    <li>
    <p>Nombre y apellido</p>
    </li>
    <li>
    <p>Datos de uso</p>
    </li>
    </ul>
    <h4>Datos de Uso</h4>
    <p>Los Datos de Uso se recopilan automáticamente cuando se utiliza el Servicio.</p>
    <p>Los Datos de Uso pueden incluir información como la dirección IP de su Dispositivo (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visita, la fecha y hora de su visita, el tiempo dedicado a esas páginas, identificadores únicos de dispositivo y otros datos de diagnóstico.</p>
    <p>Cuando accede al Servicio por o a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, incluida, entre otras, el tipo de dispositivo móvil que utiliza, su ID único de dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
    <p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.</p>
    <h4>Tecnologías de Seguimiento y Cookies</h4>
    <p>Utilizamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
    <ul>
    <li><strong>Cookies o Cookies de Navegador.</strong> Una cookie es un pequeño archivo que se coloca en su Dispositivo. Puede indicar a su navegador que rechace todas las cookies o que le avise cuando se envíe una cookie. Sin embargo, si no acepta las cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio. A menos que haya ajustado la configuración de su navegador para que rechace las cookies, nuestro Servicio puede utilizar cookies.</li>
    <li><strong>Balizas Web.</strong> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden contener pequeños archivos electrónicos conocidos como balizas web (también denominados gifs claros, etiquetas de píxeles y gifs de un solo píxel) que permiten a la Compañía, por ejemplo, contar los usuarios que han visitado esas páginas o han abierto un correo electrónico y para otras estadísticas relacionadas con el sitio web (por ejemplo, registrar la popularidad de una sección en particular y verificar la integridad del sistema y del servidor).</li>
    </ul>
    <p>Las cookies pueden ser "persistentes" o "de sesión". Las cookies persistentes permanecen en su computadora o dispositivo móvil cuando está desconectado, mientras que las cookies de sesión se eliminan tan pronto como cierra su navegador web. Puede obtener más información sobre las cookies en el artículo del <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">sitio web de TermsFeed</a>.</p>
    <p>Utilizamos tanto cookies de sesión como persistentes para los fines que se describen a continuación:</p>
    <ul>
    <li>
    <p><strong>Cookies necesarias / esenciales</strong></p>
    <p>Tipo: Cookies de sesión</p>
    <p>Administradas por: Nosotros</p>
    <p>Propósito: Estas cookies son esenciales para brindarle servicios disponibles a través del sitio web y permitirle utilizar algunas de sus funciones. Ayudan a autenticar usuarios y prevenir el uso fraudulento de cuentas de usuario. Sin estas cookies, los servicios que ha solicitado no se pueden proporcionar, y solo utilizamos estas cookies para proporcionarle esos servicios.</p>
    </li>
    <li>
    <p><strong>Cookies de aceptación de política de cookies / aviso</strong></p>
    <p>Tipo: Cookies persistentes</p>
    <p>Administradas por: Nosotros</p>
    <p>Propósito: Estas cookies identifican si los usuarios han aceptado el uso de cookies en el sitio web.</p>
    </li>
    <li>
    <p><strong>Cookies de funcionalidad</strong></p>
    <p>Tipo: Cookies persistentes</p>
    <p>Administradas por: Nosotros</p>
    <p>Propósito: Estas cookies nos permiten recordar las opciones que realiza cuando utiliza el sitio web, como recordar sus datos de inicio de sesión o su preferencia de idioma. El propósito de estas cookies es brindarle una experiencia más personalizada y evitar que tenga que volver a ingresar sus preferencias cada vez que utiliza el sitio web.</p>
    </li>
    </ul>
    <p>Para obtener más información sobre las cookies que utilizamos y sus opciones con respecto a las cookies, visite nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>
    <h3>Uso de sus Datos Personales</h3>
    <p>La Compañía puede utilizar los Datos Personales para los siguientes fines:</p>
    <ul>
    <li>
    <p><strong>Para proporcionar y mantener nuestro Servicio</strong>, incluso para monitorear el uso de nuestro Servicio.</p>
    </li>
    <li>
    <p><strong>Para gestionar su cuenta:</strong> para gestionar su registro como usuario del Servicio. Los Datos Personales que proporcione pueden darle acceso a diferentes funcionalidades del Servicio que están disponibles para usted como usuario registrado.</p>
    </li>
    <li>
    <p><strong>Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento y realización del contrato de compra de los productos, artículos o servicios que haya adquirido o de cualquier otro contrato con Nosotros a través del Servicio.</p>
    </li>
    <li>
    <p><strong>Para contactarlo:</strong> Para contactarlo por correo electrónico, llamadas telefónicas, SMS u otras formas equivalentes de comunicación electrónica, como las notificaciones automáticas de una aplicación móvil sobre actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluidas las actualizaciones de seguridad, cuando sea necesario o razonable para su implementación.</p>
    </li>
    <li>
    <p><strong>Para proporcionarle</strong> noticias, ofertas especiales e información general sobre otros productos, servicios y eventos que ofrecemos que son similares a los que ya ha comprado o consultado, a menos que haya optado por no recibir dicha información.</p>
    </li>
    <li>
    <p><strong>Para gestionar sus solicitudes:</strong> Para atender y gestionar sus solicitudes hacia Nosotros.</p>
    </li>
    <li>
    <p><strong>Para transferencias comerciales:</strong> Podemos utilizar su información para evaluar o llevar a cabo una fusión, desinversión, reestructuración, reorganización, disolución u otra venta o transferencia de algunos o todos nuestros activos, ya sea como empresa en marcha o como parte de una quiebra, liquidación u otro procedimiento similar, en el que los Datos Personales en poder de Nosotros sobre los usuarios de nuestro Servicio se encuentran entre los activos transferidos.</p>
    </li>
    <li>
    <p><strong>Para otros fines</strong>: Podemos utilizar su información para otros fines, como análisis de datos, identificación de tendencias de uso, determinación de la efectividad de nuestras campañas promocionales y para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.</p>
    </li>
    </ul>
    <p>Podemos compartir su información personal en las siguientes situaciones:</p>
    <ul>
    <li><strong>Con proveedores de servicios:</strong> Podemos compartir su información personal con proveedores de servicios para monitorear y analizar el uso de nuestro Servicio, para contactarlo.</li>
    <li><strong>Para transferencias comerciales:</strong> Podemos compartir o transferir su información personal en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Compañía, financiamiento o adquisición de la totalidad o una parte de nuestro negocio a otra empresa.</li>
    <li><strong>Con afiliados:</strong> Podemos compartir su información con nuestros afiliados, en cuyo caso requeriremos que esos afiliados respeten esta Política de Privacidad. Los afiliados incluyen nuestra empresa matriz y cualquier otra subsidiaria, socios de empresas conjuntas u otras empresas que controlamos o que están bajo control común con Nosotros.</li>
    <li><strong>Con socios comerciales:</strong> Podemos compartir su información con nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
    <li><strong>Con otros usuarios:</strong> cuando comparte información personal o interactúa de otra manera en las áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede ser distribuida públicamente fuera.</li>
    <li><strong>Con su consentimiento</strong>: Podemos divulgar su información personal para cualquier otro propósito con su consentimiento.</li>
    </ul>
    <h3>Retención de sus Datos Personales</h3>
    <p>La Compañía retendrá sus Datos Personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de Privacidad. Retendremos y utilizaremos sus Datos Personales en la medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si estamos obligados a retener sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
    <p>La Compañía también retendrá los Datos de Uso para fines de análisis interno. Los Datos de Uso generalmente se retienen durante un período de tiempo más corto, excepto cuando estos datos se utilizan para fortalecer la seguridad o para mejorar la funcionalidad de nuestro Servicio, o cuando estamos legalmente obligados a retener estos datos por períodos de tiempo más largos.</p>
    <h3>Transferencia de sus Datos Personales</h3>
    <p>Su información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Significa que esta información puede transferirse a, y mantenerse en, computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de su jurisdicción.</p>
    <p>Su consentimiento a esta Política de Privacidad seguido de su envío de dicha información representa su acuerdo con esa transferencia.</p>
    <p>La Compañía tomará todas las medidas razonablemente necesarias para garantizar que sus datos sean tratados de manera segura y de acuerdo con esta Política de Privacidad y no se transferirá ningún dato personal a una organización o país a menos que existan controles adecuados, incluidos la seguridad de sus datos y otra información personal.</p>
    <h3>Eliminar sus Datos Personales</h3>
    <p>Tiene derecho a eliminar o solicitar que lo ayudemos a eliminar los Datos Personales que hemos recopilado sobre usted.</p>
    <p>Nuestro Servicio puede permitirle eliminar cierta información sobre usted desde el propio Servicio.</p>
    <p>Puede actualizar, modificar o eliminar su información en cualquier momento iniciando sesión en su cuenta, si tiene una, y visitando la sección de configuración de la cuenta que le permite administrar su información personal. También puede contactarnos para solicitar acceso, corregir o eliminar cualquier información personal que nos haya proporcionado.</p>
    <p>Sin embargo, tenga en cuenta que podemos necesitar retener cierta información cuando tengamos una obligación legal o una base legal para hacerlo.</p>
    <h3>Divulgación de sus Datos Personales</h3>
    <h4>Transacciones Comerciales</h4>
    <p>Si la Compañía participa en una fusión, adquisición o venta de activos, sus Datos Personales pueden transferirse. Proporcionaremos un aviso antes de que sus Datos Personales se transfieran y se conviertan en objeto de una Política de Privacidad diferente.</p>
    <h4>Cumplimiento de la ley</h4>
    <p>En determinadas circunstancias, la Compañía puede estar obligada a divulgar sus Datos Personales si así lo exige la ley o en respuesta a solicitudes válidas de autoridades públicas (por ejemplo, un tribunal o una agencia gubernamental).</p>
    <h4>Otros requisitos legales</h4>
    <p>La Compañía puede divulgar sus Datos Personales de buena fe cuando considere que dicha acción es necesaria para:</p>
    <ul>
    <li>Cumplir con una obligación legal</li>
    <li>Proteger y defender los derechos o la propiedad de la Compañía</li>
    <li>Prevenir o investigar posibles infracciones en relación con el Servicio</li>
    <li>Proteger la seguridad personal de los usuarios del Servicio o del público</li>
    <li>Protegerse contra responsabilidad legal</li>
    </ul>
    <h3>Seguridad de sus Datos Personales</h3>
    <p>La seguridad de sus Datos Personales es importante para Nosotros, pero recuerde que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus Datos Personales, no podemos garantizar su seguridad absoluta.</p>
    <h2>Privacidad de los niños</h2>
    <p>Nuestro Servicio no se dirige a menores de 13 años. No recopilamos conscientemente información personal identificable de menores de 13 años. Si usted es padre o tutor y sabe que su hijo nos ha proporcionado Datos Personales, comuníquese con nosotros. Si nos damos cuenta de que hemos recopilado Datos Personales de cualquier persona menor de 13 años sin verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</p>
    <p>Si necesitamos confiar en el consentimiento como base legal para procesar su información y su país requiere el consentimiento de un padre, podemos requerir el consentimiento de sus padres antes de recopilar y usar esa información.</p>
    <h2>Enlaces a otros sitios web</h2>
    <p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si hace clic en un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de Privacidad de cada sitio que visite.</p>
    <p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>
    <h2>Cambios en esta Política de Privacidad</h2>
    <p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
    <p>Le informaremos por correo electrónico y/o un aviso destacado en nuestro Servicio, antes de que el cambio entre en vigor y actualizaremos la fecha de "Última actualización" en la parte superior de esta Política de Privacidad.</p>
    <p>Le recomendamos que revise esta Política de Privacidad periódicamente para ver si hay cambios. Los cambios en esta Política de Privacidad entrarán en vigor cuando se publiquen en esta página.</p>
    <h2>Contáctenos</h2>
    <p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:</p>
    <ul>
    <li>
    <p>Por correo electrónico: <a (click)="sharedService.openContact()" class="__cf_email__" data-cfemail="3f5d4a4c5c57534a545e4c0e080a7f58525e5653115c5052">buschlukas175&#64;gmail.com</a></p>
    </li>
    <li>
    <p>Visitando esta página en nuestro sitio web: <a (click)="sharedService.openContact()" rel="external nofollow noopener" target="_blank">https://lukasbusch.dev</a></p>
    </li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="footer">
    <div class="container">
    <p>Generado usando <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Generador de Políticas de Privacidad de TermsFeed</a></p>
    </div>
    </div>
    <div id="scroll-up" class="center" *ngIf="isScrollButtonVisible" (click)="scrollUp()">
        <img id="scroll-arrow" src="./assets/img/arrow_white.svg">
    </div>
</div>